{% load random_article %}
	<span class="col-sm-2"></span>
	<footer class="footer" class="col-sm-10">
		<div class="read-next">
			<h2>What to Read Next</h2>
			<div id="arrows">
				<a href="#">&lt;</a><span class="bar">|</span><a href="#">&gt;</a>
			</div>
		</div>
		<ul id="read-next-links" class="nav-footer-links">
		{% get_random_article_list 4 as article_set %}
		{% if article_set %}
			{% for article in article_set %}
			<li>
				<a href="{% url 'g43:detail' article.article_id %}" class="thumb">
					<div class="thumb-img"><img src="{% url 'g43:media' article.hero_image %}"/></div>
					{{article.title|truncatechars:18}}
				</a>
			</li>
			{% endfor %}	
		{% else %}
			<li><a href="" class="thumb"><div class="thumb-img"><img src="" alt="thumb"/></div>Related Title 1</a></li>
			<li><a href="" class="thumb"><div class="thumb-img"><img src="" alt="thumb"/></div>Related Title 2</a></li>
			<li><a href="" class="thumb"><div class="thumb-img"><img src="" alt="thumb"/></div>Related Title 3</a></li>
			<li><a href="" class="thumb"><div class="thumb-img"><img src="" alt="thumb"/></div>Related Title 4</a></li>
		{% endif %}			
		</ul>
	</footer>